<section class="new-training" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="400px">
        <mat-card-title>Time to start workout!</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <mat-select>
                    <mat-option name="crunches">
                        Crunches
                    </mat-option>
                    <mat-option name="touchtoes">
                        Touch Toes
                    </mat-option>
                    <mat-option name="sidelunges">
                        Side Lunges
                    </mat-option>
                    <mat-option name="burpees">
                        Burpees
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="submit">Start</button>
        </mat-card-actions>
    </mat-card>


</section>